/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
}

	#mainContent {
		display: table-cell;
		padding-right: 22px;
	}
	
	aside {
		display: table-cell;
		background: url("/Content/images/sidebar_background.png") top left;
	}

    @media (min-width: 722px) {
        aside {
            width: 300px;
        }
    }


/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(240, 240, 240, 0.05));
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

	aside section ul {
		margin: 0 0 0 22px;
		list-style: none;
	}
	
		aside section ul li a {
			display: block;
			text-decoration: none;
			color: #000;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
			}
