/*------------------------------
=Student Budy Statistics
------------------------------*/
.studentBody .bar {
        fill: steelblue;
    }

    .studentBody .bar:hover {
        fill: brown;
    }

.studentBody .axis--x path {
    display: none;
}
