@font-face {
   font-family: externalFont;
   src: url("missing.eot?#iefix") format('embedded-opentype'),
        url("/Content/fonts/sansation_light.woff") format("woff");
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 13px/22px externalFont, Helvetica, Arial, sans-serif;
}

.body-content > header {
    margin-bottom: 0;
    background: linear-gradient(to bottom, rgb(238, 238, 238), rgba(238, 238, 238, 0));
}

h1 {
    text-shadow: 3px 3px #ddd;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*------------------------------
=NAVIGATION
------------------------------*/

nav li.subscribe img {
    width: 22px;
    height: 22px;
    margin-right: 11px;
    vertical-align: middle;
    transition: all 2s ease-in-out;
}

    nav li.subscribe:hover img {
        background: none;
        transform: rotate(720deg) scale(2,2);
    }

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

aside {
    border-radius: 11px;
	background: linear-gradient(to right, rgb(215, 215, 215), rgba(240, 240, 240, 0));
}

/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
    margin: 22px 0 0 22px;
    padding: 11px 22px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(240, 240, 240, 0.05));
    border-radius: 11px;
}

    aside section:first-child {
        margin-top: 0;
    }

aside section ul {
    list-style: square;
}
	
aside section ul li a {
    display: block;
    text-decoration: none;
    color: #000;
}

    aside section ul li a:hover {
        text-decoration: underline;
    }

/*------------------------------
=SIDEBAR
------------------------------*/
.about {
    margin: 20px 0;

    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    -moz-column-gap: 25px;
    -webkit-column-gap: 25px;
    column-gap: 25px;
}
