@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h3>Welcome to College of Management</h3>
        <p>College of Management is committed to professionalism and the success of its students and their involvement in research, entrepreneurial projects and social responsibility programs in Israel and abroad.</p>
    </div>
    <div class="col-md-4">
        <h3>Directed towards Society</h3>
        <p>The College awardsan honorary degree to outstanding individuals who have made a significant and important contribution in various fields: intellectual, scientific, public, economic, business and technological work. The College also awards honorary degrees to individuals from Israel and around the world due to their contribution to the people and the State of Israel, and due to their exceptional generosity towards the College. To name few honorary degree recipients: Yaacov Agam, Prof. Larry Zicklin, Prof. Meir Chet, Major-General (res.) Shlomo Yanai, Galia Maor,  Robert Mednick CPA, Maestro Zubin Mehta, Sami Michael, Meir Nitzan, Prof. Michael Sela, Prof. Daniel Friedmann, and Ofra Strauss.</p>
    </div>
    <div class="col-md-4">
        <h3>Marching Towards Success</h3>
        <p>50,000 of the College graduates have joined economic, social and public activities in local and international markets. Many of them hold executive key roles in various fields in leading companies in the industry and Israel's public sector. The Alumni Organization accompanies graduates even after the completion of their studies, assists in career development and management, and provides up-to-date and diverse knowledge.</p>
    </div>
</div>